@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Employee Management System</h1>
    </hr>
    <br>
    <br>
    <br>
    <br>
    <h3>This application is build to practice <br> ASP .NET MVC Framework <br> ADO .NET <br> MySql Database</h3>
</div>
