@using BOL

<div class="text-center">
    <h1 class="display-4">Delete Student</h1>
    <hr/>
    <h4>Enter ID to Delete Student</h4>
    <form method="post" action="/student/delete">
        Id : <input type="text" id="id" name="id"><br><br>
        <button type="submit" id="btn" name="btn">Delete</button>
    </form> 
</div>