@using BOL;
@{
    ViewData["Title"] = "Student List";
}
<div class="text-center">
    <h1 class="display-4">Employess</h1>
    @{
       Student stud =(Student)ViewData["student"];
       <table style="border: 2px solid black ; padding: 2px;">
        <tr style="border: 2px solid black; padding: 2px;">
            <td style="border: 2px solid black;">ID</td>
            <td style="border: 2px solid black;">Name</td>
            <td style="border: 2px solid black;">Email</td>
        </tr>
        <tr>
            <td style="border: 2px solid black;">@stud.Id</td>
            <td style="border: 2px solid black;">@stud.Name</td>
            <td style="border: 2px solid black;">@stud.Email</td>
        </tr>
       </table>
          
        
    }
</div>