@using BOL


<div class="text-center">
    <h1 class="display-4">Register Student</h1>
    <hr/>
    <form method="post" action="/student/login">
        Email : <input type="email" id="email" name="email"><br><br>
        Password : <input type="password" id="password" name="password"><br><br>
        <button type="submit" id="btn" name="btn">Login</button>
    </form> 
</div>